@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar-track {
  background-color: #000;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: #444;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

body {
  overscroll-behavior: none;
}

.cl-userButtonPopoverRootBox,
.cl-rootBox {
  font-family: Inter;
}

.home-gradient {
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgb(32, 7, 37) 10%,
    rgba(4, 0, 4, 1) 90%
  );
  /* background-image: url("https://www.toptal.com/designers/subtlepatterns/uploads/wavy-dots.png"); */
  /* background-color: darkblue; */
}

.shadow-tt {
  box-shadow: 0px -5px 15px -3px rgb(24, 24, 24);
}

html {
  overflow-x: hidden;
  background-color: black !important;
}

.list-description-input[contenteditable]:empty::before {
  content: "+ Click to add a description";
  color: #444;
}

.list-description-input[contenteditable]:empty:hover::before {
  content: "+ Click to add a description";
  color: #aaa;
}

.list-description-input[contenteditable]:empty:focus::before {
  content: "";
}
